<!-- section contact -->
<section id="contact" class="contact">
  <div class="container contact-box">
    <h2 class="contact-title" data-name="contactTitle">Наші контакти</h2>
    <ul class="contact-list">
      <li class="contact-item">
        <div class="contact-container">
          <svg class="contact-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
          </svg>
        </div>
        <div class="contact-flex">
          <h3 class="contact-text" data-name="contactTel">Телефон</h3>
          <ul class="contact-lists">
            <li class="contact-items">
              <a href="tel:+380982606797" class="contact-link">+380 98 260 67 97</a>
            </li>
            <li class="contact-items">
              <a href="tel:+380975633290" class="contact-link">+380 97 563 32 90</a>
            </li>
            <li class="contact-items">
              <a href="tel:+380996132995" class="contact-link">+380 99 613 29 95</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="contact-item">
        <div class="contact-container">
          <svg class="contact-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg>
        </div>
        <div class="contact-flex">
          <h3 class="contact-text" data-name="contactEmail">Email</h3>
          <ul class="contact-lists">
            <li class="contact-items">
              <a href="mailto:lesivpavlo999@gmail.com" class="contact-link">lesivpavlo999@gmail.com</a>
            </li>
            <li class="contact-items">
              <a href="mailto:tim.katsnelson@gmail.com" class="contact-link">tim.katsnelson@gmail.com</a>
            </li>
            <li class="contact-items">
              <a href="mailto:levderevyanchuk@gmail.com" class="contact-link">levderevyanchuk@gmail.com</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <form class="contact-form">
      <h2 class="contact-title2" data-name="contactMessage">Надішліть повідомлення</h2>

      <label class="contact-label">
        <span data-name="contactName">Ім'я *</span>
        <input required class="contact-input" type="text">
      </label>

      <label class="contact-label">
        <span data-name="contactEmailLabel">Email *</span>
        <input required class="contact-input" type="email">
      </label>

      <label class="contact-label">
        <span data-name="contactPhoneLabel">Телефон</span>
        <input placeholder="+380 97 000 00 00" pattern="^\+380\s\d{2}\s\d{3}\s\d{2}\s\d{2}$" required class="contact-input" type="tel">
      </label>

      <label class="contact-label">
        <span data-name="contactMessageLabel">Повідомлення *</span>
        <textarea required class="contact-textarea"></textarea>
      </label>

      <button class="contact-btn" type="submit" data-name="contactSendBtn">Надіслати повідомлення</button>
    </form>
  </div>
</section>
