<!-- section contact -->
<section id="contact" class="contact">
    <div class="container">
        <h2 class="contact-title">Наші контакти</h2>
        <ul class="contact-list">
            <li class="contact-item">
                <!-- <svg class="contact-icon">
                    <use href="../img/symbol-defs.svg#tel"></use>
                </svg> -->
                 <h3 class="contact-text">Телефон</h3>
                 <ul class="contact-lists">
                    <li class="contact-items">
                        <p class="contact-subtitle">+380 98 260 67 97</p>
                    </li>
                    <li class="contact-items">
                        <p class="contact-subtitle"></p>
                    </li>
                    <li class="contact-items">
                        <p class="contact-subtitle"></p>
                    </li>
                    <li class="contact-items">
                        <p class="contact-subtitle"></p>
                    </li>
                 </ul>
            </li>
            <li class="contact-item">
                <!-- <svg class="contact-icon">
                    <use href="../img/symbol-defs.svg#email"></use>
                </svg> -->
                 <h3 class="contact-text">Email</h3>
                 <ul class="contact-lists">
                    <li class="contact-items">
                        <p class="contact-subtitle">lesivpavlo999@gmail.com</p>
                    </li>
                    <li class="contact-items">
                        <p class="contact-subtitle"></p>
                    </li>
                    <li class="contact-items">
                        <p class="contact-subtitle"></p>
                    </li>
                    <li class="contact-items">
                        <p class="contact-subtitle"></p>
                    </li>
                 </ul>
            </li>
        </ul>
        <form class="contact-form">
            <h2 class="contact-title2">Надішліть повідомлення</h2>
            <label class="contact-label">
                Ім'я *
                <input class="contact-input" type="text">
            </label>
            <label class="contact-label">
                Email *
                <input class="contact-input" type="email">
            </label>
            <label class="contact-label">
                Телефон
                <input class="contact-input" type="tel">
            </label>
            <label class="contact-label">
                Повідомлення *
                <textarea class="contact-textarea"></textarea>
            </label>
            <button class="contact-btn" type="submit">Надіслати повідомлення</button>
        </form>
    </div>
</section>