<!-- section create -->
<section id="create" class="create">
    <div class="container create-box">
    <h2 class="create-title">Почніть творити вже сьогодні</h2>
    <p class="create-subtitle">Простий 2D редактор для планування кімнат. Створюйте, редагуйте та експериментуйте з дизайном.</p>
    <ul class="create-list">
        <li class="create-item">
            <b class="create-icon">📐</b>
            <h3 class="create-text">1. Створіть план</h3>
            <p class="create-info">Редагуйте контур кімнати, додайте стіни, двері та вікна за допомогою простих інструментів</p>
            <a href="../create-room.html">
            <button type="button" class="create-btn">Почати планування</button>
            </a>
        </li>
        <li class="create-item">
            <b class="create-icon">🪑</b>
            <h3 class="create-text">2. Додайте меблі</h3>
            <p class="create-info">Перетягуйте меблі з бібліотеки об'єктів: дивани, столи, ліжка та інші предмети інтер'єру.</p>
            <a href="../create-room.html">
            <button type="button" class="create-btn">Переглянути меблі</button>
            </a>
        </li>
        <li class="create-item">
            <b class="create-icon">💾</b>
            <h3 class="create-text">3. Збережіть проект</h3>
            <p class="create-info">Зберігайте свої проекти, та насолоджуйтеся планом, використовуйте в своїх цілях</p>
            <a href="../create-room.html">
            <button type="button" class="create-btn">Спробувати редактор</button>
            </a>
        </li>
    </ul>
    </div>
</section>