<!-- section footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-container">
        <div class="footer-box">
            <a class="footer-logo" href="../index.html">🏠 RoomCraft</a>
            <p class="footer-subtitle">Простий та зручний 2D редактор для планування кімнат. Створено з любов'ю до Хакатону GoITeens 2025.</p>
            <ul class="footer-list">
                <li class="footer-item"><a href="#" class="footer-icon">📘</a></li>
                <li class="footer-item"><a href="#" class="footer-icon">📷</a></li>
                <li class="footer-item"><a href="#" class="footer-icon">🐦</a></li>
            </ul>
        </div>
        <div class="footer-box2">
            <h3 class="footer-title">Редактор</h3>
        <ul class="footer-lists">
            <li class="footer-items"><a href="#" class="footer-link">Почати роботу</a></li>
            <li class="footer-items"><a href="#" class="footer-link">Бібліотека меблів</a></li>
            <li class="footer-items"><a href="#" class="footer-link">Приклади проектів</a></li>
            <li class="footer-items"><a href="#" class="footer-link">Інструкції</a></li>
        </ul>
        </div>
        <div class="footer-box3">
            <h3 class="footer-title">Підтримка</h3>
            <ul class="footer-list1">
                <li class="footer-item1"><a href="#" class="footer-link">Довідка</a></li>
                <li class="footer-item1"><a href="#" class="footer-link">Відеоуроки</a></li>
                <li class="footer-item1"><a href="#" class="footer-link">FAQ</a></li>
                <li class="footer-item1"><a href="#" class="footer-link">Зворотний зв'язок</a></li>
            </ul>
        </div>
            <div class="footer-box4">
                <h3 class="footer-title">Контакти</h3>
                <ul class="footer-list2">
                    <li class="footer-item2"><a href="tel:+380975633290" class="footer-link">+380975633290</a></li>
                    <li class="footer-item2"><a href="mailto:tim.katsnelson@gmail.com" class="footer-link">tim.katsnelson@gmail.com</a></li>
                </ul>
            </div>
            </div>
            <div class="footer-boxes">
            <p class="footer-text">© 2025 RoomCraft. Всі права захищені.</p>
            </div>
    </div>
</footer>
