<!-- section header -->
<header class="header">
  <div class="container header-box">
    <div class="preloader">
      <div class="preloader__logo">
        <!-- Ваше лого тут -->
        <img src="../img/main-logo.png" alt="Loading..."> 
        <!-- Або CSS-анімація -->
        <div class="preloader__spinner"></div>
      </div>
    </div>
    <a href="../index.html" class="header-logo">🏠 RoomCraft</a>
<div class="header-lang">
        <select id="selectionLanguage" class="lang-select">
            <option value="ua">Українська</option>
            <option value="en">English</option>
            <option value="de">Deutsch</option>
        </select>
<button class="burger" id="burger" aria-label="Menu">
  <span></span>
  <span></span>
  <span></span>
</button>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">
          <a href="#hero" class="header-link" data-name="home">Головна</a>
        </li>
        <li class="header-item">
          <a href="../create-room.html" class="header-link" data-name="create">Почати творити</a>
        </li>
        <li class="header-item">
          <a href="#team" class="header-link" data-name="team">Команда</a>
        </li>
        <li class="header-item">
          <a href="#ability" class="header-link" data-name="services">Послуги</a>
        </li>
        <li class="header-item">
          <a href="#contact" class="header-link" data-name="contacts">Контакти</a>
        </li>
      </ul>
    </nav>
    </div>
  </div>
</header>
