<!-- section hero -->
<section id="hero" class="hero">
    <div class="container hero-box">
        <h1 class="hero-title">Створюємо кімнати <span class="hero-text">мрій</span></h1>
        <p class="hero-subtitle">RoomCraft - це простий 2D редактор для планування та дизайну кімнат. Створюйте макети, розставляйте меблі та експериментуйте з плануванням простору.</p>
        <a href="../create-room.html" class="hero-link"><button class="hero-btn" type="button">Почати проект</button></a>
    </div>
</section>