<!-- section hero -->
<section id="hero" class="hero">
  <div class="container hero-box">
    <h1 class="hero-title">
      <span data-name="heroTitle">Створюємо кімнати</span>
      <span class="hero-text" data-name="heroSpan">мрій</span>
    </h1>
    <p class="hero-subtitle" data-name="heroSubtitle">RoomCraft - це простий 2D редактор для планування та дизайну кімнат. Створюйте макети, розставляйте меблі та експериментуйте з плануванням простору.</p>
    <a href="../create-room.html" class="hero-link">
      <button class="hero-btn" type="button" data-name="heroButton">Почати проєкт</button>
    </a>
  </div>
</section>
