<!-- section team -->
<section id="team" class="team">
    <div class="container team-box">
    <h2 class="team-title">Наша команда</h2>
    <ul class="team-list">
        <li class="team-item">
            <img src="../img/pavlo.jpg" alt="Павло" class="team-img">
            <h3 class="team-name">Лесів Павло</h3>
            <p class="team-subtitle2">Frontend розробник</p>
            <p class="team-subtitle">Відповідає за основну сторінку на якій ви це читаєте</p>
        </li>
        <li class="team-item">
            <img src="../img/lev.jpg" alt="Лев" class="team-img">
            <h3 class="team-name">Лев Деревянчук</h3>
            <p class="team-subtitle2">Frontend розробник</p>
            <p class="team-subtitle">Відповідає за організаційні питання і за мови</p>
        </li>
        <li class="team-item">
            <img src="../img/timur.jpg" alt="Тимур" class="team-img">
            <h3 class="team-name">Тимур Катснельсон</h3>
            <p class="team-subtitle2">Frontend розробник</p>
            <p class="team-subtitle">Розробляє самий редактор в якому будуть всі працювати і збереження проектів</p>
        </li>
    </ul>
    </div>
</section>