@import url('./reset.css');

:root {
    --button-color: rgba(100, 100, 100, 0.9);
    --border-color: #000;
    --main-color: #FFF;
    --linear-gradient-color: rgb(162, 162, 249);
    --gradient-color: rgb(255, 127, 255);
}

body {
    background-image: linear-gradient(-45deg, var(--gradient-color), var(--linear-gradient-color));
    background-position: center;
    background-size: cover;
}

#canvas {
    border: 1px solid var(--main-color);
}

.instruction-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--border-color);
    border-radius: 10px;
}

.instruction-modal h2 {
    margin-bottom: 20px;
    color: var(--main-color);
}

.instruction-modal p {
    margin-bottom: 20px;
}

.instruction-modal button {
    background-color: var(--button-color);
    color: var(--main-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#open-instruction-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--button-color);
    color: var(--main-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.instruction-content {
    background-color: var(--button-color);
    color: var(--main-color);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 100px auto;
    text-align: center;
}

.controls {
    width: 100px;
    overflow: auto;
    height: 700px;
    display: flex;
    justify-content: center;
    margin: 10px 50px 10px 10px;
    flex-wrap: wrap;
    gap: 3px;
    position: relative;
    background-color: rgba(64, 50, 115, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    font-family: Arial, sans-serif;
    color: var(--main-color);
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 170px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
}

.editor-btn {
    font-weight: bold;
    text-align: center;
    background-color: var(--button-color);
    width: 90px;
    height: 20%;
    color: var(--main-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
}

.editor-link {
    color: var(--main-color);
    font-weight: 600;
    text-decoration: underline;
    font-size: 1.2rem;
    top: 10px;
    position: absolute;
    left: 10px;
    background: #311e48;
    padding: 5px 10px;
    border-radius: 5px;
}