.ability{
        padding: 5rem 0;
        background-color: var(--section-color);
}
.ability-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.ability-title{
        color: var(--text-color);
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
}
.ability-subtitle{
        width: 672px;
        color: var(--paragraf-color);
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-bottom: 4rem;
        text-align: center;
}
.ability-list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
}
.ability-item{
        background-color: var(--main-color);
        padding: 1.5rem;
        border-radius: 0.75rem;
        box-shadow:0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 0.1),
                0 4px 6px -4px rgb(0 0 0 / 0.1);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.ability-item:is(:hover,:focus){
        transform: translateY(-5px);
                box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.ability-icon{
        font-size: 1.875rem;
        line-height: 2.25rem;

}
.ability-text{
        color: var(--text-color);
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-top: 1rem;
        margin-bottom: 0.75rem;
}
.ability-info{
        color: var(--paragraf-color);
        width: 232px;
        margin-bottom: 1rem;
}
.ability-subtitle2{
        color: var(--logo-color);
        font-weight: 600;
}

@media (max-width: 768px) {
  .ability-subtitle {
    width: 100%;
    font-size: 1rem;
    padding: 0 1rem;
  }

  .ability-list {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .ability-item {
    width: 90%;
    max-width: 320px;
    text-align: center;
  }

  .ability-info {
    width: 100%;
  }

  .ability-text {
    font-size: 1.125rem;
  }

  .ability-title {
    font-size: 1.75rem;
    text-align: center;
  }
}

@media (max-width: 1260px) and (min-width: 601px) {
  .ability-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .ability-item {
    flex: 0 1 calc(45% - 1rem); /* 2 в ряд із відступами */
    max-width: 100%;
    text-align: center;
  }

  .ability-info {
    width: 100%;
  }

  .ability-subtitle {
    width: 100%;
    font-size: 1.125rem;
    padding: 0 2rem;
  }

  .ability-title {
    font-size: 2rem;
  }
}
