.header{
    background-color: var(--main-color);
    position: fixed;
    top: -0.1px;
    left: 1px;
    width: 100%;
    padding: 16px 0;
    z-index: 1;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.header-logo{
    color: var(--logo-color);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}
.header-link{
    color:var(--link-color);
        font-weight: 500;
        font-size: 0.875rem;
            line-height: 1.25rem;
            padding: 0.5rem 0.75rem;
            transition-property: color;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    transition-duration: 150ms
}
.header-link:is(:hover,:focus){
    color: var(--logo-color);
}
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
    display: flex;
}
.header-list{
    display: flex;
    gap: calc(2rem * calc(1 - 0));
}

.header-lang {
    display: flex;
    gap: 20px;
}

.lang-select {
    border: none;
}