/* section hero */
.hero{
    padding: 5rem 0;
    background-image: linear-gradient(-45deg,var(--gradient-color), var(--linear-gradient-color));
}
.hero-title{
    color:var(--main-color) ;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 1;
    margin-bottom: 1.5rem;
}
.hero-text{
color: var(--span-color);
}
.hero-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-subtitle{
    width: 768px;
    color: var(--main-color);
    text-align: center;
    font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 2rem;
}
.hero-btn{
    background-color: var(--button-color);
    color: var(--btn-color);
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 1rem 2rem;
}